<div class="footer">
	<div class="footer-header">
		<span *ngIf="itemCount > 1">
		{{itemCount}} Items
	</span>
		<span *ngIf="itemCount <= 1">
		{{itemCount}} Items
	</span>
		<a class="pull-right btn btn-sm" *ngIf="state == 'expanded'" (click)="toogleView()" href="javascript://">
		Generate Snippet
	</a>
		<a class="pull-right btn btn-sm" *ngIf="state == 'collapsed'" (click)="toogleView()" href="javascript://">
		Close
	</a>
	</div>

	<div class="footer-view" [@openClose]="state">
		<div class="main-container white-bg">
    <div class="content-container">
        <nav class="sidenav">
            <section class="sidenav-content">
                <section class="nav-group">
                    <label for="tabexample2">Selected Resources</label>
                    <ul class="nav-list" *ngFor="let resource of cartItems">
                        <li>
							<a href="javascript://">
								<clr-icon class="footer-delete-item-btn" (click)="removeSource(resource)" shape="close" size="22"></clr-icon>
							</a>
							<span>
								{{resource.name}}
							</span>
						</li>
                    </ul>
                </section>
            </section>
        </nav>
    </div>
	<div>
		<code-viewer [code]="code" [mode]="'javascript'" [readOnly]="false"></code-viewer>
	</div>

</div>
	</div>
</div>
